* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", sans-serif;
}

.index_top {
  display: flex;
  width: 100%;
  height: 10vh;
}

.index_top_logo {
  height: 100%;
  width: 50%;
}

.index_top_logo img {
  height: 80%;
  margin-top: 1vh;
  margin-left: 1vh;
}

.index_top_nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.index_top_nav a {
  height: 100%;
  text-decoration: none;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index_top_nav div {
  height: 100%;
  width: 10vh;
}

.index_top_nav img {
  height: 70%;
  width: 70%;
}

.index_main {
  width: 100%;
}

.index_main_1 {
  width: 100%;
  height: 31.25vw;
}

#slodeshow {
  animation: 3s ease-in 1s infinite reverse both running slidein;
}

#slideshow a img {
  width: 100%;
  position: absolute;
}

.index_main_2 {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.index_main_2_Picker {
  position: relative;
  width: 100%;
  height: 46.72vw;
}

.Picker {
  position: absolute;
  width: 100%;
}
.index_main_2_Picker_sum {
  height: 100%;
}

.index_main_2_Picker_sum a {
  position: absolute;
}

/* カラーピッカー部分 */
.Pickerimg {
  height: 12vw;
}

.Pickerimg:hover {
  animation: 0.5s scrolleffect forwards;
}

@keyframes scrolleffect {
  0% {
    height: 12vw;
  }
  100% {
    height: 13vw;
  }
}
.index_main_2_Picker_sum a:nth-child(1) {
  top: 24%;
  left: 46%;
}

.index_main_2_Picker_sum a:nth-child(2) {
  top: 31%;
  left: 55%;
  transform: rotateZ(45deg);
}

.index_main_2_Picker_sum a:nth-child(3) {
  top: 48%;
  left: 57%;
  transform: rotateZ(100deg);
}

.index_main_2_Picker_sum a:nth-child(4) {
  top: 61%;
  left: 50.5%;
  transform: rotateZ(155deg);
}

.index_main_2_Picker_sum a:nth-child(5) {
  top: 61%;
  left: 40.5%;
  transform: rotateZ(200deg);
}

.index_main_2_Picker_sum a:nth-child(6) {
  top: 48%;
  left: 35%;
  transform: rotateZ(250deg);
}

.index_main_2_Picker_sum a:nth-child(7) {
  top: 30%;
  left: 36%;
  transform: rotateZ(300deg);
}

/* カラーピッカー部分終 */

.index_main_2_osusume {
  margin: 5vw auto;
  width: 80%;
}

.index_main_2_osusume img {
  margin: 0 auto;
  width: 100%;
}

.index_main_2_other {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.index_main_2_other_element {
  text-decoration: none;
  width: 30%;
  height: 26vw;
  margin-bottom: 4vw;
}

.index_main_2_other_element img {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  border-radius: 180px;
  margin: auto;
}

.index_main_2_other_element_1 {
  text-align: center;
  color: #000;
  font-size: 1.5vw;
  margin-top: 1%;
}
.index_main_2_other_element_border {
  width: 15vw;
  border: solid #000 0.05px;
  color: #000;
  margin: 1% auto;
}
.index_main_2_other_element_2 {
  text-align: center;
  font-size: 1vw;
  color: #000;
}

.index_main_2_search {
  width: 100%;
  height: auto;
  margin-bottom: 5vh;
}

.index_main_2_search form {
  width: 80%;
  margin: 0 auto;
  border-bottom: solid 1px #000;
}

.index_main_2_search_text {
  width: 80%;
  appearance: none;
  border: none;
  padding: 5px 3px;
  outline: none;
}

.index_main_2_search_btn {
  width: 15%;
  background-color: #fff;
  border: none;
}

.index_footer {
  background-color: #aaa;
  width: 100%;
  height: 10vh;
}

button {
  position: absolute;
}

.index_main_2_tips {
  width: 100%;
}

.index_main_2_tips img {
  width: 100%;
}
